---
import Animation from "../components/Animation.astro";
---

<Animation />

<div id="div">
  <h1 id="a">Camilo</h1>
</div>

<style>
  body {
    background-color: black;
  }
  
  #div {
    color: white;
  }
</style>