---
---

<script>
  import { gsap } from "gsap";

  const name = document.getElementById("a").textContent;

  const renderLetter = (name) => {
    if (!name) return "";
    // Join the array of strings into a single HTML string
    return name.split("").map((letter, index) => {
      return `<span class="name-animation inline-block opacity-0">${letter}</span>`;
    }).join(''); // Join with an empty string to concatenate all array elements.
  };

  const div = document.getElementById("div");

  div.innerHTML = renderLetter(name);
</script>