---
interface Props {
	subtitle: string;
	institution: string;
	date: string;
	class?: string;
}

const { subtitle, institution, date, class: className } = Astro.props;
---

<article class=`text-slate-300 mx-8 ${className}`>
	<h3>{subtitle}</h3>
	<div class="text-slate-500">
		<h3>{institution}</h3>
		<h3>{date}</h3>
	</div>
</article>

<style>
	h2 {
		font-family: "Geist-Bold", sans-serif;
	}

	h3 {
		font-family: "Geist-Regular", sans-serif;
	}
</style>
