---
interface Props {
	email: string;
	tabs: {
		name: string;
		href: string;
	}[];
}

const { email, tabs } = Astro.props;
---

<article class="text-slate-300 flex flex-col m-8">
	<h2>{email}</h2>
	<ul class="flex flex-row">
		{
			tabs.map((tab, index) => (
				<li>
					<a href={tab.href}>{tab.name}</a>
					{index !== tabs.length - 1 && <span class="separator">/ </span>}
				</li>
			))
		}
	</ul>
</article>

<style>
	.separator {
		white-space: pre;
	}
</style>

<style>
	h2 {
		font-family: "Geist-UltraLight", sans-serif;
	}

	ul {
		font-family: "Geist-Medium", sans-serif;
	}
</style>
