---
interface Props {
	email: string;
	tabs: {
		name: string;
		href: string;
	}[];
}

const { email, tabs } = Astro.props;
---

<article class="text-slate-300 flex flex-col m-8">
	<a href={`mailto:${email}`}>
		<h2 class="md:mx-16 lg:mx-[20rem] 2xl:mx-[25rem] transition-300 hover:text-slate-400">{email}</h2>
	</a>
	<ul class="flex flex-row md:mx-16 lg:mx-[20rem] 2xl:mx-[25rem]">
		{
			tabs.map((tab, index) => (
				<li>
					<a href={tab.href}>{tab.name}</a>
					{index !== tabs.length - 1 && <span class="separator">/ </span>}
				</li>
			))
		}
	</ul>
</article>

<style>
	.separator {
		white-space: pre;
	}
</style>

<style>
	h2 {
		font-family: "Geist-UltraLight", sans-serif;
	}

	ul {
		font-family: "Geist-Medium", sans-serif;
	}
</style>
