---
interface Props {
  technologies: string[];
}

const { technologies } = Astro.props;
---

<section class="mx-8 mt-3 mb-5 border-2 border-purple-400 border-opacity-45 rounded-lg p-3 my-3">
  <ul>
    {technologies.map((technology) => (
      <li>{technology}</li>
    ))}
  </ul>
</section>


<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    font-family: "Geist-Ultralight";
    align-items: center;
    background: #cbd5e1;
    border-radius: 6px;
    color: #581c87;
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>

